
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* share item */
.display-flex{
    display: flex;
    
}
.darkzero-one{
    color: #424242;
}
.darkzero-three{
    color: #424242;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
width: 180px;
height: 4rem;
border-radius: 8px;
background-color: rgba(255, 144, 14, 1);
color: white;

;
}
/* header section */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar h3{
    font-weight: 700;
    font-size: 3rem;
    
}
.list-item{
    list-style: none;
    
}
.list-item a{
    text-decoration: none;
    margin-right: 30px;

}
.navbar,.banner,.facts-section,.Sponspors{
    max-width: 1440px;
    margin: 0 auto;
}
.text{
     font-size: 1rem;
font-weight: 400;
color:  #424242;
}

/* banner section */
.banner-content{
   max-width:850px;
    height: 225px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
   
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-text{
    font-weight: 400;
    font-size: 1rem;
}
.banner-image{
    margin-top: 60px;
    width: 100%;
    
}
/* team and feature section */
.team-container{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
    align-items: center;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 10px;
}
.team-features{
width: 537px;
height: 304px;
margin-left: 85px;
border-radius: 8px;
}
#quick{
   color:  #424242;
   font-size: 2.8rem;
   font-weight: 500;
}
#our{
    font-size: 2.8rem;
    font-weight: 700;
}
#feature{
    font-size: 2.8rem;
    font-weight: 700;
    color: rgba(255, 144, 14, 1);
}
.team-features p{
    font-size: 1rem;
font-weight: 400;
line-height: 26px;
text-align: left;

}
.btn-primary1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
height: 64px;
 background-color:rgba(255, 144, 14, 1);
 
}
/* fact feature related styles */
.section-title,.sponspors-title{
    font-size: 3rem;
    font-weight: 700;
}
.fact-container{
    display: grid;
    grid-template-columns:  repeat(4 ,1fr);
}
.facts-section{
    margin-top: 100px;
}
.facts-section p{
    margin-top: -20px;
    margin-bottom: 80px;
}

.fact-card{
    border: 1px solid  rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
/* sponspors */
.Sponspors{
    margin-top: 130px;
}
.sponspors-parent{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponspors-parent p{
    margin-top: -20px;
    margin-bottom: 80px;
}
.sponspors-image{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
   justify-content: space-between;
}
.sponspors-image img{
width: 166.76px;
height: 50px;
filter: grayscale(100%);
}

/* responsive media qurey */
@media screen and (max-width:576px){
  .navbar,.team-container{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .list-item{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
 .team-image{
    grid-template-columns: repeat(1 , 1fr);
    
 }
 .team-features{
    margin-left: 60px;
 }
 .team-features p{
    text-align: left;
     margin: 0 auto;
 }
}



